<ion-header>
  <ion-toolbar>
    <ion-title>To-Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="newTask" placeholder="Nueva tarea"></ion-input>
    <ion-button (click)="addTask()" expand="block">Agregar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox slot="start" [(ngModel)]="task.completed" (ionChange)="toggleComplete(task)"></ion-checkbox>
      <ion-label [style.text-decoration]="task.completed ? 'line-through' : 'none'">
        {{ task.title }}
      </ion-label>
      <ion-button color="danger" fill="clear" slot="end" (click)="deleteTask(task)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
